.mainContainer{

}
.main{
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main a{
    display: block;
    width: 7.5%;
    height: 50px;
    background-color: wheat;
    border: 1px solid black;
    border-radius: 3px;
    text-decoration: none;
    font-size: 2em;
    margin-left: 10px;
    margin-right: 8px;
}
.search{
    margin-left: auto;
}
.search input{
    margin-right: 2px;
    border:2px solid silver;
    border-radius: 3px;
}