.animeContainer{
    display: flex;
    justify-content: center;
}

.animeBlock {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:10px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}