.menu button{
width: 100px;
}
.mangaContainer{
    display: flex;
    justify-content: center;
}

.mangaBlock {
    margin-top: 10px;
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:10px;
    background-color: red;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}